div#contentFooter{
    height: auto;
    width: 55vw;
}

div.about{
    display: flex;
    justify-content: space-around;
}

div.info{
display: flex;
flex-direction: column;

}

div.info h1{
    font-size: 50px;
    color: #ef5453 ;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    margin-bottom: 8px;
}


div.info a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-top: -10px;
    font-family: 'Granary Regular', sans-serif;



}



div.location h1{
    font-size: 50px;
    color: #47c1c8 ;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    margin-bottom: 8px;
}

div.location p {
    color: black;
    font-size: 20px;
    margin-top: 20px;
}



div.social-media h1{
    font-size: 50px;
    color: #fbb559;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    margin-bottom: 8px;
}


div.containerLogo{
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
}


.fs{
    font-size: 30px;
    color: black;
}

.fs:hover{
    color: #fbb559;
}

div.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: -16px;
}