



div#header{
    display: flex;
}

div.logoHeader{
    width: 41vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

div.menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


ul#contentMenu{
    margin-left: -240px;
}

ul#contentMenu li.mainMenu{
    float: left;
    margin-left: -15px;
    list-style: none;
    padding: 15px;
    margin-top: 5px;
    

}

ul#contentMenu li.mainMenu a{
    text-decoration: none;
    color: black;
}

ul#contentMenu li.contact{
    background-color: black;
    border: 1px solid black;
    margin-top: 8px;
   
}

ul#contentMenu li.contact:hover{
    background-color: white;

   
}

ul#contentMenu li.contact a{
    color: white;
}

ul#contentMenu li.contact:hover a{
    color: black;

   
}


ul#contentMenu li.logoKit{
    margin-right: 15px;
}

/* submenu desarrollo */

ul.submenuDev{
    display: none;
    z-index: 1;
    position: absolute;
    top: 61px;
    border: 1px solid black;
    width: 12.5vw;
    padding: 0;
    background-color: white;
}

ul.submenuDev li{
    width: 12vw;
    float: left;
    list-style: none;
    padding: 10px;
}

ul.submenuDev li a{
   
    text-decoration: none;
    color: black;
}

li.development:hover ul.submenuDev{
display: block;
}

/* submenu marketing */

ul.submenuMark{
    display: none;
    z-index: 1;
    position: absolute;
    top: 61px;
    left: 341px;
    border: 1px solid black;
    width: 12.5vw;
    padding: 0;
    background-color: white;
}

ul.submenuMark li{
    width: 12vw;
    float: left;
    list-style: none;
    padding: 10px;
}

ul.submenuMark li a{
    
    text-decoration: none;
    color: black;
}

li.marketing:hover ul.submenuMark{
    display: block;
    }


/* submenu Diseño */

ul.submenuDesign{
    display: none;
    z-index: 1;
    position: absolute;
    top: 61px;
    left: 457px;
    border: 1px solid black;
    width: 12.5vw;
    padding: 0;
    background-color: white;
}

ul.submenuDesign li{
    width: 12vw;
    float: left;
    list-style: none;
    padding: 10px;
}

ul.submenuDesign li a{
   
    text-decoration: none;
    color: black;
}

li.diseño:hover ul.submenuDesign{
    display: block;
    }


