body{
    margin: 0;
}


div#header{
    width: 100%;
    height: 8vh;
}


div#mainContent{
    min-height: 50vh;
}

div#footer{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* banner  */

div.banner{
    position: relative;
}


div#mainContent div.banner img{
    width: 100%;
    height: 100%;
}

div.banner h1{
    position: absolute;
    left: 35%;
    bottom: 28%;
    font-size: 80px;
color: white;
width: 35vw;
font-family: "Granary Semi Bold", sans-serif;
}

span.tc{
    color: #58e5ed;
}

/* ecommerce */

div.containerEcommerce{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f7f7f7;
    min-height: 90vh;
    position: relative;
}

div.containerContentEcommerce{
    display: flex;
    flex-direction: row;
   margin-top: -120px;
}

div.title h1{
    font-size: 39px;
}

div.infoEcommerce{
    position: relative;
    top: 73px;
    left: 25px;
}

div.infoEcommerce h2{
    font-size: 60px;
    width: 16vw;
    margin: 0;
    line-height: 8vh;
}

div.infoEcommerce p{
    font-size: 20px;
}

div.infoEcommerce p#fstSubtitle{
    width: 33vw;
}

div.infoEcommerce p#scSubtitle{
    width: 33vw;
}


/* branding y publicidad */

div.byp{
    min-height: 60vh;
    background-color: #f7f7f7;
    display: flex;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
}

div#infoByp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}



div#infoByp div.titleByp h2{
    font-size: 60px;
    margin: 0;
}

div.subtitleByp p{
    font-size: 20px;
    width: 33vw;
}

div.showMore a{
text-decoration: none;
color: #0d0e1d;
font-weight: bold;
font-size: 16px;
}


div.showMore a:hover{
     color: #fbb559;
    }


 /* marketing */

div.marketing{
    min-height: 60vh;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
}
    








