/* fuente Granary Semi-bold */
@font-face {
    font-family: 'Granary Semi-Bold'; /* Cambia 'NombreDeTuFuente' por el nombre que quieras darle a tu fuente */
    src: url('../fonts/Granary-Semi-Bold.otf') format('opentype'); /* Cambia 'fonts/tufuente.otf' por la ruta relativa al archivo .otf */
}

@font-face {
    font-family: 'Granary Regular'; /* Cambia 'NombreDeTuFuente' por el nombre que quieras darle a tu fuente */
    src: url('../fonts/Granary-Regular.otf') format('opentype'); /* Cambia 'fonts/tufuente.otf' por la ruta relativa al archivo .otf */
}


body{
    margin: 0;
}


div#header{
    width: 100%;
    height: 8vh;
    font-family: 'Granary Regular', sans-serifs;
}


div#mainContent{
    min-height: 50vh;
}

div#footer{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* banner  */

div.banner{
    position: relative;
}


div#mainContent div.banner img{
    width: 100%;
    height: 100%;
}
@keyframes changeTitle {
    0% { content: "happiness"; color: #58e5ed; }
    50% { content: "experiences"; color: #FF5F5E }
    100% { content: "things"; color: #FABC6B;}
   
}

div.banner h1{
    position: absolute;
    left: 35%;
    bottom: 28%;
    font-size: 80px;
color: white;
width: 35vw;
font-family: 'Granary Semi-Bold', sans-serif ;

}

div.banner span.tc::after{
    content: "Título 1";
    animation: changeTitle 5s infinite linear; 
}

span.tc{
    color: #58e5ed;
}

/* ecommerce */

div.containerEcommerce{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #f7f7f7;
    min-height: 90vh;
    position: relative;
}

div.containerContentEcommerce{
    display: flex;
    flex-direction: row;
   margin-top: -120px;
}

div.title h1{
    font-size: 39px;
    font-family: 'Granary Semi-Bold',sans-serif;
}

div.infoEcommerce{
    position: relative;
    top: 73px;
    left: 25px;
}

div.infoEcommerce h2{
    font-family: 'Granary Semi-Bold',sans-serif;
    font-size: 60px;
    width: 17vw;
    margin: 0;
    line-height: 8vh;
}

div.infoEcommerce p{
    font-size: 20px;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;}

div.infoEcommerce p#fstSubtitle{
    width: 33vw;
}

div.infoEcommerce p#scSubtitle{
    width: 33vw;
}


/* branding y publicidad */

div.byp{
    min-height: 60vh;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
}

div#infoByp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}



div#infoByp div.titleByp h2{
    font-size: 60px;
    margin: 0;
    font-family: 'Granary Semi-Bold',sans-serif;

}

div.subtitleByp p{
    font-size: 20px;
    width: 33vw;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
}

div.showMore a{
text-decoration: none;
color: #0d0e1d;
font-size: 16px;
font-family: 'Granary Regular', sans-serif;
}


div.showMore a:hover{
     color: #fbb559;
    }


 /* marketing */

div.marketing{
    min-height: 85vh;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    
}

div.exampleMarketing{
    margin-top: 6.3%;
    margin-right: 2%;
}

div.infoMarketing{
    margin-right: 13.5%;
    margin-top: 6.5%;
}


div.infoMarketing div.title{
    width: 41vh;
}

div.infoMarketing div.title h2{
    font-size: 60px;
    line-height: 8vh;
    margin: 0;
    font-family: 'Granary Semi-Bold',sans-serif;
    width: 31vw;
    
}

div.infoMarketing div.subtitles p{
    font-size: 20px;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;

}

div.infoMarketing div.subtitles p.fstSubtitle{
    width: 32vw;
}

div.infoMarketing div.subtitles p.scSubtitle{
    width: 33vw;

}

div.infoMarketing div.showMoreBtn a{
    text-decoration: none;
    color: black;
    font-family: 'Granary Regular', sans-serif;

}

div.infoMarketing div.showMoreBtn a:hover{
    color: #fbb559;
}

/* Desarrollo web */

div.web-development{
    min-height: 75vh;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
}    

div.infoWd{
    text-align: right;
    margin-top: 9%;

}

div.infoWd div.titleWd h2{
    font-size: 60px;
    margin: 0;
    line-height: 8vh;
    font-family: 'Granary Semi-Bold',sans-serif;

}




div.infoWd div.subtitlesWd p{
    font-size: 20px;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;

}

div.infoWd div.subtitlesWd p.fsSubtitleWd{
    width: 33vw;

}


div.infoWd div.subtitlesWd p.scSubtitleWd{
    width: 32vw;


}


div.infoWd div.showMoreWd a{
    text-decoration: none;
    color: black;
    font-family: 'Granary Regular', sans-serif;

}

div.infoWd div.showMoreWd a:hover{
    color: #fbb559;
}


div.exampleWd{
    margin-top: 7%;
    padding-left: 15px;
}

/* All services */

div.allServices{
background-color: #f7f7f7;
display: flex;
justify-content: center;
font-family: "Hind", sans-serif;
font-weight: 400;
font-style: normal;
}

div.allServices a{
    color: black;
    font-size: 30px;
    padding-bottom: 40px;
    font-family: 'Granary Regular', sans-serif;
}

div.allServices a:hover{
    color: #fbb559;
}

/* como trabajamos */

div.aboutCelebrand{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    padding-top: 90px;
    
}

div.aboutCelebrand div.examplesAbout{
    margin-left: 132px;
    margin-top: 10px;

}



div.aboutCelebrand div.infoAbout div.titleAbout h2{
    font-family: 'Granary Semi-Bold',sans-serif;

    font-size: 50px;
    margin: 0;
    line-height: 7vh;
    color: #ef5453;

}

@keyframes changeSpan {
    0% { content: "trabajamos"; background-color: #7C43A8; }
    100% { content: "nos divertimos"; background-color: #47c1c8; }
    
   
}


div.aboutCelebrand div.infoAbout div.titleAbout span::after{
    content: "trabajamos";
    animation: changeSpan 3s infinite linear; 
}

div.aboutCelebrand div.infoAbout div.titleAbout span{

    color: white;
    padding-left: 8px;
    padding-right: 5px;
}



div.aboutCelebrand div.infoAbout div.titleAbout {
width: 19vw;

}

div.aboutCelebrand div.subtitles p{
    font-size: 16px;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
}

div.aboutCelebrand div.subtitles p.fsSubtitleAbout{
width: 26vw;
}
div.aboutCelebrand div.subtitles p.scSubtitleAbout{
    width: 26vw;

}


div.redirect a{
    color: black;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Granary Regular', sans-serif;

}
div.redirect a:hover{ 
    color: #fbb559;
  
}

div.examplesAbout{
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
}


div.examplesAbout div h4{
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 10px;
}

div.examplesAbout div p {
    width: 19vw;
    margin-top: 0px;
    margin-bottom: 20px;
}

div.fsExample2{
    display: flex;
}
/* quienes confian */

div.collabs{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    padding-top: 100px;
    padding-bottom: 50px;
}

div.titleCollabs h3{
    font-size: 60px;
    margin: 0;
    font-family: 'Granary Semi-Bold',sans-serif;
}

div.titleCollabs span{
    color: #47c1c8;
}

div.subtitlesCollabs{
    text-align: center;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
}

div.examplesCollabs {
    width: 60vw;
    margin-top: 90px;
}

div.subtitlesCollabs p{
    font-size: 16px;
    
}


div.examplesCollabs img{
    float: left;
}

div.showAll{
    margin-top: 100px;
}

div.showAll a{
    color: black;
    font-size: 30px;
    font-family: 'Granary Regular', sans-serif;

}

div.showAll a:hover{
    color: #fbb559;
}

/* que ofrecemos */

div.we-offer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
  
}

div.titleOffer h3{
    font-size: 60px;
    font-family: 'Granary Semi-Bold',sans-serif;

    text-align: center;
    width: 50vw;
    margin: 0;
    font-weight: bold;
    padding-bottom: 100px;
}

div.titleOffer span#exp{
    color: #FBB559;
}

div.titleOffer span#results{
    color: #7C43A8;
}

div.titleOffer span#online{
    color: #47c1c8;
}

div.contentWeOffer{
    display: flex;
    flex-direction: row;
}




div.weSay h3{
    font-size: 45px;
    width: 12vw;
    font-weight: bold;
    margin: 0;
    line-height: 3vw;
    font-family: 'Granary Semi-Bold',sans-serif;

}
div.weSay span#q{
    color: #EF5453;
}

div.weSay p.fsParagraphh{
    font-family: 20px;

width: 15vw;
margin-bottom: 40px;
  font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
}

div.infoSuggestions h3{
    font-size: 26px;
    width: 17vw;
    margin: 0;
    font-family: 'Granary Regular', sans-serif;


}

div.infoSuggestions p#paragraphSuggest{
    width: 18vw;
    font-size: 16px;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
}

div.scExample h3{
    font-size: 26px;
    width: 19vw;
    font-family: 'Granary Regular', sans-serif;

}

div.scExample p.parExample{
    width: 19vw;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
}

div.weSay{
    padding: 30px;
    background-color: #f7f7f7;
}

div.weSay a{
color: black;
text-decoration: none;  
font-weight: bold;  
border: 1px solid black;
background-color: white;
padding: 11px;
font-family: 'Granary Regular', sans-serif;


}
div.weSay a:hover{
   color: #fbb559;
    
    }

div.suggestions{
    padding-left: 30px;
    padding-right: 15px;
}

div.infoSuggestions{
    padding-left: 30px;
    padding-right: 15px;
}

div.infoSuggestions hr{
    opacity: 0.3;
}

/* chat  */

div.imgChat span#start{
padding: 8px 30px;
position: absolute;
z-index: 30;
}

div.imgChat{
   
    position: relative;
}

div.imgChat span#start{
    position: absolute;
    left: 829px;
    top: 65px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    word-spacing: 10px;
}

div.divBlanco{
    width: 100%;
    height: 8vh;
    background-color: white;
    position: absolute;
    top: 0px;
   
}

div.contacto{


    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;


}

span#cuando{
    color: #7C43A8;

}

div.imgChat h3{
    font-size: 52px;
    position: absolute;
    top: 182px;
    margin: 0;
    left: 704px;
}

div.imgChat a.contactar{
    border: 1px solid black;
    color: black;
    text-decoration: none;
    padding: 15px;
    z-index: 40;
    position: absolute;
    bottom: 237px;
    left: 903px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Granary Regular', sans-serif;


}

div.imgChat a.contactar:hover{
  color: #fbb559;
}


div.contactForm{
    background-color: black;
    position: relative;
    bottom: 85px;
    width: 1903px;
    height: 187px;

}


div.contactForm p{
    font-size: 30px;
    color: white;
    position: absolute;
    left: 285px;
    top: 23px;
}

div.contactForm input[name=meApunto]{
    background-color: #0d0e1d;
    color: white;
    padding: 13px;
    border: 2px solid white;
    font-weight: bold;
    position: absolute;
    right: 424px;
    top: 52px;
    cursor: pointer;
    font-family: "Hind", sans-serif;
    font-style: normal;


}


div.contactForm input[name=email]{
    width: 366px;
    height: 38px;
    border-radius: 5px;
    position: absolute;
    left: 971px;
    top: 53px;
    padding-left: 11px;
}

div.contactForm span{
    color: white;
    font-size: 14px;
    position: absolute;
    left: 995px;
    bottom: 51px;
}

div.contactForm input[name=check]{
    position: absolute;
    bottom: 54px;
    left: 969px; 


}
div.contactForm a{
    text-decoration: none;
    color: white;
}


/* donut */

div.donut{
    border: 40px solid #47c1c8;
    border-radius: 50%;
    height: 350px;
    width: 350px;
    position: absolute;
    right: -291px;
    top: 0px;
     transition: right 0.5s ease; /*transición para suavizar el movimiento */


}
