body{
    margin: 0;
}


div#header{
    width: 100%;
    height: 8vh;
}


div#mainContent{
    min-height: 50vh;
}

div#footer{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* banner  */

div.banner{
    position: relative;
}


div#mainContent div.banner img{
    width: 100%;
    height: 100%;
}

div.banner h1{
    position: absolute;
    left: 35%;
    bottom: 28%;
    font-size: 80px;
color: white;
width: 35vw;
font-family: "Granary Semi Bold", sans-serif;
}

span.tc{
    color: #58e5ed;
}

/* ecommerce */

div.containerEcommerce{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f7f7f7;
    min-height: 90vh;
    position: relative;
}

div.containerContentEcommerce{
    display: flex;
    flex-direction: row;
   margin-top: -120px;
}

div.title h1{
    font-size: 39px;
}

div.infoEcommerce{
    position: relative;
    top: 73px;
    left: 25px;
}

div.infoEcommerce h2{
    font-size: 60px;
    width: 16vw;
    margin: 0;
    line-height: 8vh;
}

div.infoEcommerce p{
    font-size: 20px;
}

div.infoEcommerce p#fstSubtitle{
    width: 33vw;
}

div.infoEcommerce p#scSubtitle{
    width: 33vw;
}


/* branding y publicidad */

div.byp{
    min-height: 60vh;
    background-color: #f7f7f7;
    display: flex;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
}

div#infoByp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}



div#infoByp div.titleByp h2{
    font-size: 60px;
    margin: 0;
}

div.subtitleByp p{
    font-size: 20px;
    width: 33vw;
}

div.showMore a{
text-decoration: none;
color: #0d0e1d;
font-weight: bold;
font-size: 16px;
}


div.showMore a:hover{
     color: #fbb559;
    }


 /* marketing */

div.marketing{
    min-height: 85vh;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    
}

div.exampleMarketing{
    margin-top: 6.3%;
    margin-right: 2%;
}

div.infoMarketing{
    margin-right: 13.5%;
    margin-top: 6.5%;
}


div.infoMarketing div.title{
    width: 41vh;
}

div.infoMarketing div.title h2{
    font-size: 60px;
    line-height: 8vh;
    margin: 0;
    
}

div.infoMarketing div.subtitles p{
    font-size: 20px;

}

div.infoMarketing div.subtitles p.fstSubtitle{
    width: 32vw;
}

div.infoMarketing div.subtitles p.scSubtitle{
    width: 33vw;

}

div.infoMarketing div.showMoreBtn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

div.infoMarketing div.showMoreBtn a:hover{
    color: #fbb559;
}

/* Desarrollo web */

div.web-development{
    min-height: 75vh;
    background-color: #f7f7f7;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
}    

div.infoWd{
    text-align: right;
    margin-top: 9%;

}

div.infoWd div.titleWd h2{
    font-size: 60px;
    margin: 0;
    line-height: 8vh;

}




div.infoWd div.subtitlesWd p{
    font-size: 20px;
}

div.infoWd div.subtitlesWd p.fsSubtitleWd{
    width: 33vw;

}


div.infoWd div.subtitlesWd p.scSubtitleWd{
    width: 32vw;


}


div.infoWd div.showMoreWd a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}

div.infoWd div.showMoreWd a:hover{
    color: #fbb559;
}


div.exampleWd{
    margin-top: 7%;
    padding-left: 15px;
}

/* All services */

div.allServices{
background-color: #f7f7f7;
display: flex;
justify-content: center;
font-family: "Hind", sans-serif;
font-weight: 400;
font-style: normal;
}

div.allServices a{
    color: black;
    font-size: 30px;
    padding-bottom: 40px;
}

div.allServices a:hover{
    color: #fbb559;
}

/* como trabajamos */

div.aboutCelebrand{
    min-height: 50vh;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    padding-top: 90px;
    
}

div.aboutCelebrand div.examplesAbout{
    margin-left: 132px;
    margin-top: 10px;

}



div.aboutCelebrand div.infoAbout div.titleAbout h2{

    font-size: 50px;
    margin: 0;
    line-height: 7vh;
    color: #ef5453;

}

div.aboutCelebrand div.infoAbout div.titleAbout span{

  background-color: #7C43A8;
    color: white;
    padding-left: 8px;
    padding-right: 5px;
}

div.aboutCelebrand div.infoAbout div.titleAbout {
width: 19vw;

}

div.aboutCelebrand div.subtitles p{
    font-size: 16px;
}

div.aboutCelebrand div.subtitles p.fsSubtitleAbout{
width: 26vw;
}
div.aboutCelebrand div.subtitles p.scSubtitleAbout{
    width: 26vw;

}


div.redirect a{
    color: black;
    font-size: 26px;
    font-weight: bold;
}
div.redirect a:hover{ 
    color: #fbb559;
  
}


div.examplesAbout div h4{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
}

div.examplesAbout div p {
    width: 19vw;
    margin-top: 0;
    margin-bottom: 20px;
}

/* quienes confian */

div.collabs{
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    padding-top: 100px;
    padding-bottom: 50px;
}

div.titleCollabs h3{
    font-size: 60px;
    margin: 0;
}

div.titleCollabs span{
    color: #47c1c8;
}

div.subtitlesCollabs{
    text-align: center;
}

div.examplesCollabs {
    width: 60vw;
    margin-top: 90px;
}

div.subtitlesCollabs p{
    font-size: 16px;
    
}


div.examplesCollabs img{
    float: left;
}

div.showAll{
    margin-top: 100px;
}

div.showAll a{
    color: black;
    font-size: 30px;
}

div.showAll a:hover{
    color: #fbb559;
}

